extends layout

block content
  section.error-page
    .error-icon ⏰
    h2 Hors des heures de travail
    p Nous sommes désolés, mais notre site n'est accessible que pendant les heures de travail :
    .working-hours
      p
        strong Lundi au Vendredi
      p
        strong 9h à 17h
    p Merci de revenir pendant nos heures d'ouverture. 